body {
  margin: 0;
  padding: 0;
  background-color: #4196cfb2;
  font-family: Arial, sans-serif;
}

.equipe {
  padding: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  background-color: #ffffff;
  width: 240px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 180px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid #3399ff;
}

.card h3 {
  margin-top: 15px;
  font-size: 16px;
  color: #0059b3;
}