
*{
  margin: 0%;
  padding: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.toopbar {
  background-color: rgb(150, 190, 224);
  color: rgb(0, 0, 0);
  height: 70px;
  display: flex;
}

.toopbar h1{
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 420px;

}
 
